*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide{
    display: none;
}
:root{
  --first-color : #14599d;
  --sec--color : #071C2E;
  --white-color : #ffff;
}
.container{
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--sec--color);
}
.start-quiz{
  min-height: 30%;
  width: 20%;
  background-color: var(--white-color);
  padding: 15px;
  border-radius: 8px;
}
.start-quiz h3{
    text-align: center;
    font-size: 25px;
    font-family: serif;
    font-weight: 500;
    padding-bottom: 10px;
}
.start-btn{
    /* padding:10px; */
    width: 95%;
    height: 60px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    background-color: #124170;
    color: var(--white-color);
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}
.start-btn:hover{
    background-color: #103152;
}
.start-quiz p{
    padding-top: 13px;
    padding-left: 2px;
    font-size: 15px;
}

.Quiz-questions{
    background-color: #F7FAFD;
    width: 60%;
    min-height: 40%;
    padding: 20px 10px;
    border-radius: 8px;
}

.question{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 5px;
}
.answer-btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.answer-btns button{
    width: 40%;
    height: 55px;
    border-radius: 8px;
    border: 3px solid #14599d5b;
    font-size: 16px;
    font-family: sans-serif;
   font-weight: 600;
   background-color: white;
   cursor: pointer;
   margin-bottom: 10px;
   color: black;
}


.answer-btns button:hover{
    background-color:#F0F7FD ;
    border-color: #14599D;
    transition: all ease 0.3s;
}

.answer-btns button:disabled{
    pointer-events: none;
}
.nx{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.next-btn{
  height: 55px;
  width: 130px;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: 600;
  background-color: #134b83;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
}
.next-btn:hover{
    background-color: #0f3155;
    transition: all ease 0.2s;
}

@media screen and (max-width : 1260px) {
    .start-quiz h3{
        font-size: 19px;
    }
}

@media screen and (max-width : 888px) {
    .start-quiz h3{
        font-size: 19px;
    }
    .start-quiz{
        width: 30%;
    }
}

@media screen and (max-width : 700px) {
    .start-quiz h3{
        font-size: 19px;
    }
    .start-quiz{
        width: 40%;
    }
}

@media screen and (max-width : 550px) {

    .start-quiz h3{
        font-size: 15px;
    }
    .start-quiz{
        width: 50%;
        margin-left: 70px;
        min-height: 10%;
    }
    .start-quiz p{
        font-size: 13px;
        text-align: center;
    }
    .start-btn{
    /* padding:10px; */
    width: 65%;
    height: 40px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    background-color: #124170;
    color: var(--white-color);
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 35px;
}
    .Quiz-questions{
        width: 80%;
        padding: 10px;
        min-height: 30%;
    }
    .container{
        justify-content: start;
        padding-left: 10px;
    }
    .question{
      font-size: 16px;
    }
    .answer-btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}
.answer-btns button{
    width: 80%;
    height: 40px;
    border-radius: 8px;
    border: 3px solid #14599d5b;
    font-size: 14px;
    font-family: sans-serif;
   font-weight: 600;
   background-color: white;
   cursor: pointer;
   margin-bottom: 8px;
   color: black;
}
.next-btn{
  height: 40px;
  width: 110px;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: 600;
  background-color: #134b83;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
}
}
